{
  "extends": ["eslint:recommended", "plugin:react/recommended", "google"],
  "env": {
    "es6": true,
    "commonjs": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "globals": {
    "strapi": true
  },
  "plugins": ["jest", "react"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "no-console": "error",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-var": "error",
    "max-len":"off",
    "eqeqeq": ["error", "always"],
    "object-curly-spacing": "off",
    "require-jsdoc": "off"
  },
  "settings": {
      "react": {
          "pragma": "React",
          "version": "15.6.1"
      }
  }
}
